{% for dept in grocery_list %}
  <b>{{ dept.capitalize() }}</b>
  <ul style="list-style-type:none;">
  {% for food in grocery_list[dept] %}
    <li> &#9744; {{ food.capitalize() }}</li>
  {% endfor %}
  </ul>
{% endfor %}
</br>
<button type="button" onclick="javascript:history.back()">Back</button>